<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <? for(var i=0; i<users.length; i++){ ?>
        <h3>id为：<?= users[i].id ?>；用户名为：<?= users[i].username ?>；密码为：<?= users[i].password ?></h3>
    <? } ?>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        $(function(){
            $.ajax({
                url:'/getusers',
                data:'',
                type:'get',
                dataType:'json',
                success:function(result){
                    console.log(result);
                }
            });
        });
    </script>
</body>
</html>